W/*
colors:
    green: 119822
    grey: C5C5C5
    red: ED6A5A
    white: DEF6CA
    dark: 181D27
*/
* {
    box-sizing:border-box;
}
body {
    font-family:"Montserrat", "sans-serif";
    background: #F8F3E3;
    color:#181D27;
    margin:0;
}
.margin {
    width:1200px;
    max-width:97vw;
    margin:0 auto;
}
.box {
    margin-top:20px;
    padding:20px;
    text-align:center;
}
.box-header {
    margin:20px 0 10px 0;
    font-size:72px;
    letter-spacing:3px;
    color:#f94414;
    text-transform:uppercase;
    font-weight:700;
    font-family: 'Londrina Solid', cursive;
}
.box-header::before {
    content: url(/img/leaf.png);
    transform: scaleX(-1) translate(8px, -8px);
    display:inline-block;
    line-height:72px;
}
.box-header::after {
    content: url(/img/leaf.png);
    transform: translate(8px, -8px);
    display:inline-block;
    line-height:72px;
}
.box-header-desc {
    font-size:20px;
    font-weight:700;
    width:900px;
    margin:0 auto;
}