W/*
colors:
    green: 119822
    grey: C5C5C5
    red: ED6A5A
    white: DEF6CA
    dark: 181D27
*/
* {
    box-sizing:border-box;
}
body {
    font-family:"Montserrat", "sans-serif";
    background: #fbfbfb;
    color:#181D27;
    margin:0;
}
.margin {
    width:1200px;
    max-width:97vw;
    margin:0 auto;
}
.box {
    margin-top:20px;
    background:#fff;
    box-shadow:0 0 5px rgba(0,0,0,.1);
    padding:20px;
}
.box-header {
    margin:0 0 10px 0;
    font-size:48px;
}