.top-section {
    border-bottom:2px solid #124835;
    margin-bottom:30px;
    text-align:center;
}
.top-section h1 {
    margin:20px 0 10px 0;
    font-family: 'Londrina Solid', cursive;
    font-size:56px;
    letter-spacing:5px;
    text-transform:uppercase;
    color:#124835;
}
.top-section p {
    margin:0 0 20px 0;
    font-size:20px;
    letter-spacing:1px;
    color:#000;
}
.crop-image-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding-bottom:20px;
}
.crop-image-row {
    width:auto;
    display:flex;
    flex-direction:row;
}
.large-crop-button {
    width:50%;
    height:auto;
}
.large-crop-button > .crop-image > img {
    width:100%;
    height:auto;
}
.crop-image {
    position:relative;
    overflow:hidden;
    display:block;
}
.multiple-image-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:50%;
}
.multiple-image-container .landscape {
    height:calc(100% / 2);
    max-height:200px;
    width:100%;
}
.multiple-image-container > .crop-image:not(.landscape) {
    width:calc(100% / 2);
    height:auto
}
.crop-image > img {
    transition:.3s ease;
    filter:brightness(1);
    width:100%;
}
.crop-image > .border {
    border:4px solid #fff;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transition:.3s ease;
    transform:scale(1.05);
}
.crop-image:hover {
    cursor:pointer;
}
.crop-image:hover > img {
    filter:brightness(.7);
}
.crop-image:hover > .border {
    transform:scaleX(.96) scaleY(.94);
}
.crop-image h3 {
    position:absolute;
    z-index:2;
    text-align:center;
    width:100%;
    margin-top:120px;
    padding:0 10px;
    color:#fff;
    font-size:2.8em;
    letter-spacing:5px;
    text-shadow:0px 0px  3px #000;
    opacity:0;
    transition:.2s ease;
}
.crop-image p {
    position:absolute;
    z-index:2;
    border-radius:2px;
    padding:5px 10px;
    box-shadow:0 0  5px rgba(0,0,0,1);
    text-align:center;
    margin-top:calc(250px - 16px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width:200px;
    max-width:90%;
    color:#000;
    font-size:1.15em;
    letter-spacing:1px;
    font-weight:800;
    background:#fff;
    opacity:0;
    transition:.2s ease;
}
.landscape h3 {
    font-size:1.5em;
    margin-top:calc(100px - 24px)
}
.landscape p {
    font-size:.6em;
    margin-top:calc(125px - 16px);
    width:200px
}
.small h3 {
    font-size:1.5em;
    margin-top:calc(100px - 24px)
}
.small p {
    font-size:.6em;
    margin-top:calc(125px - 16px);
    width:180px
}

.crop-image:hover p, .crop-image:hover h3 {
    opacity:1;
}
@media (max-width: 1250px) {
    .crop-image-row {
        flex-direction:column;
    }
    .multiple-image-container {
        width:100%;
    }
    .landscape {
        max-height:200px !important;
    }
    .large-crop-button {
        width:100%;
        order:1;
    }
    .multiple-image-container {
        order: 2;
    }
    .large h3 {
        margin-top:20%;
    }
}
@media (max-width: 650px) {
    .small {
        width:100% !important;
    }
}