h1 {
    margin:20px 0 10px 10px;
    font-family: 'Londrina Solid', cursive;
    font-size:56px;
    letter-spacing:5px;
    text-transform:uppercase;
}
.crop-image-container {
    display:flex;
    flex-direction:row;
}
.crop-image-row {
    width:100%;
    display:flex;
    flex-direction:row;
}
.large-crop-button {
    width:50%;
    height:400px;
}
.large-crop-button > img {
    width:100%;
    height:100%;
}
.multiple-image-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:50%;
}
.multiple-image-container > .landscape {
    width:100%;
    height:200px;
}
.multiple-image-container > img:not(.landscape) {
    width:calc(100% / 3);
    height:200px;
}
.crop-image-container img {
    transition:.3s ease;
    overflow:hidden;
    filter:blur(0px);
}
.crop-image-container img:hover {
    filter:blur(0px);
}