/*
colors:
    green: 124835
    orange: F94414
    white: F8F3E3
    grey: 9ED3DA
    blue: 3C5E83
*/
.nav {
    color:#fff;
    width: 100%;
    height: 80px;
    position:relative;
    border-bottom:1px solid rgba(0,0,0,.1);
    box-shadow:0 3px 5px rgba(0,0,0,.2);
    background: #124835;
}
.inner-nav {
    height:100%;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
}
.logo-container {
    display:flex;
    flex-direction:row;
    order:1;
    margin-right:auto;
    text-transform:uppercase;
    font-family: 'Londrina Solid', cursive;
    color:inherit;
    text-decoration:none;
}
.logo-left {
    color:#f94414;
    font-weight:800;
    font-size:64px;
    letter-spacing:3px;
}
.logo-right {
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:28px;
    letter-spacing:3px;
}
.logo-right > span {
    line-height:26px;
    font-weight:800;
    color:#f94414;
}
.logo-right > span:last-of-type {
    letter-spacing:5.2px;
    color:inherit;
}
.inner-nav > a:not(.logo-container):not(.menu-button) {
    padding:20px 30px;
    font-weight:600;
    font-size:15px;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#fff;
    transition:.1s ease;
}
.inner-nav > a:not(.logo-container):hover {
    color:#f94414;
}
#kids-area-button {
    margin-left:10px;
}
.orange-button {
    background:#f94414;
    border-radius:3px;
    color:#fff !important;
    padding:12px 20px !important;
}
#kids-area-button > p {
    margin:0;
}
.orange-button:hover {
    background:rgba(249,68,20,.8);
}
.menu-button {
    padding:20px !important;
    display:none;
}
.open > .hamburger > .line {
    width:100%;
    background:#fff;
    height:calc((100% / 6))
}
.hamburger {
    width:24px;
    height:24px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.menu-button > .hamburger > .line {
    width:100%;
    background:#fff;
    height:calc((100% / 6))
}
.close {
    transform:translateX(3px);
}
.close > .hamburger > .line:first-of-type {
    display:none;
}
.close > .hamburger > .line:nth-of-type(2n) {
    transform-origin:top left;
    transform:rotate(45deg);
    width:125%;
}
.close > .hamburger > .line:nth-of-type(3n) {
    transform-origin:bottom left;
    transform:rotate(-45deg);
    width:125%;
}
.menu-nav {
    position:absolute;
    z-index:999;
    max-width:80%;
    width:400px;
    left:-400px;
    height:100%;
    background:#124835;
    margin-top:0;
    display:flex;
    flex-direction:column;
    transition:.3s ease;
}
.menu-nav > a {
    color:#fff;
    text-decoration:none;
    font-size:18px;
    letter-spacing:1px;
    padding:20px 20px;
    border-top:.5px solid rgba(255,255,255,.15);
    border-bottom:.5px solid rgba(255,255,255,.15);
    font-weight:600;
    text-transform:uppercase;
    transition:.02s ease;
    background:rgba(255,255,255,0);
}
.menu-nav > a:last-of-type {
    border-bottom:1px solid rgba(255,255,255,.15);
}
.menu-nav > a:first-of-type {
    border-top:1px solid rgba(255,255,255,.15);
}
.menu-nav > a:hover {
    background:#356353;
}
.page-mask {
    width:100vw;
    height:100%;
    background:rgba(0,0,0,0);
    position:absolute;
    z-index:999;
    display:none;
    transition:.3s ease;
}
.open-nav {
    background:rgba(0,0,0,.3);
}
.open-nav > .menu-nav {
    left:0;
}

.footer {
    padding:20px 0;
}
.footer > .margin {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    padding:0 20px;
}
.footer-column {
    width:calc((100% / 3) - 10px);
    min-width:300px;
}
.footer-column > p:first-of-type {
    opacity:1;
    font-weight:600;
}
.footer-column > p {
    margin:0 0 5px 0;
    opacity:.7;
    font-size:12px;
}
.footer-column > h4 {
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:5px;
    color:#fff;
    border-bottom:1px solid rgba(255,255,255,.7);
    padding-bottom:5px;
}
.footer-column > a:not(.logo-container) {
    display:block;
    color:inherit;
    text-decoration:none;
    opacity:.7;
    transition:.1s ease;
    font-size:13px;
}
.footer-column > a:not(.logo-container):hover {
    opacity:1;
}
@media (max-width: 950px) {
    .inner-nav > a:not(.logo-container):not(.menu-button) {
        display:none;
    }
    .menu-button {
        display:block;
    }
}