 RewriteEngine On
 RewriteBase /

# RewriteRule ^items$ /lists/item-list.php [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^items/([^/]+)$ /lists/item-category-list.php?category=$1 [L]

#
# RewriteRule ^our-farms$ /our-farms.php [L]
 Redirect 301 /our-farms /our-farms.php


# RewriteRule ^(.*)/$ /$1 [L,R=301]
#
# ErrorDocument 403 /include/404.php
# ErrorDocument 404 /include/404.php
#
 Options -Indexes